<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Clothes Page</title>
</head>

<body>
  <h1>Clothes</h1>

  [ <a href="employees">Employees</a> | <a href="customers">Customers</a> | <a href="sales">Sales</a> |
  <a href="salehas_clothes">Sale Has Clothes</a> | <a href="clothes">Clothes</a> | <a href="manufacturers">Manufacturers</a> | <a href="/">Index</a> ]

  <div id="browse">
    <p> </p>
    <table border="1" cellpadding="5">
      <tr>
        <th>ClothesID</th>
        <th>Name</th>
        <th>Category</th>
        <th>Size</th>
        <th>Price</th>
        <th>Purchase Cost</th>
        <th>Stock</th>
        <th>Manufacturer</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Shirt</td>
        <td>Tops</td>
        <td>Medium</td>
        <td>10.99</td>
        <td>9.89</td>
        <td>y</td>
        <td>Gucci</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Coat</td>
        <td>Outerwear</td>
        <td>Large</td>
        <td>54.50</td>
        <td>40.88</td>
        <td>y</td>
        <td>Versace</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Pants</td>
        <td>Bottoms</td>
        <td>Small</td>
        <td>21.99</td>
        <td>20.89</td>
        <td>y</td>
        <td>Prada</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Hat</td>
        <td>Accessories</td>
        <td>Large</td>
        <td>7.99</td>
        <td>7.99</td>
        <td>y</td>
        <td>Gucci</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Shorts</td>
        <td>Bottoms</td>
        <td>Medium</td>
        <td>10.99</td>
        <td>10.99</td>
        <td>y</td>
        <td>Prada</td>
      </tr>
    </table>
  </div>

  <p>&nbsp;</p>
  <div id="insert">
    <form method="POST" id="addClothes">
      <legend><strong>Add Clothes</strong></legend>
      <fieldset class="fields">
        <label> Name </label> <input type="text" name="name">
        <label> Category </label> <input type="text" name="category">
        <label> Size </label> <select name="size">
          <option value="0">&nbsp;</option>
          <option value="1">Small</option>
          <option value="2">Medium</option>
          <option value="3">Large</option>
        </select>
        <label> Price </label> <input type="text" name="price">
        <label> Purchase Cost </label> <input type="text" name="purchaseCost">
        <label> Stock </label> <select name="in stock?">
          <option value="0">&nbsp;</option>
          <option value="1">Yes</option>
          <option value="2">No</option>
        </select>
        <label> Manufacturer </label> <select name="manufacturer">
          <option value="0">&nbsp;</option>
          <option value="1">Gucci</option>
          <option value="2">Versace</option>
          <option value="3">Prada</option>
        </select>
      </fieldset>
      <input class="btn" type="submit" id="addClothes" value="Add clothes">
    </form>
  </div>

  <p>&nbsp;</p>
  <div id="update">
    <form method="POST" id="updateClothes">
      <legend><strong>Update Clothes</strong></legend>
      <fieldset class="fields">
        <label> ID to Update </label> <select name="ID">
          <option value="0">&nbsp;</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <label> name </label> <input type="text" name="name">
        <label> category </label> <input type="text" name="category">
        <label> size </label> <select name="size">
          <option value="0">&nbsp;</option>
          <option value="1">Small</option>
          <option value="2">Medium</option>
          <option value="3">Large</option>
        </select>
        <label> price </label> <input type="text" name="price">
        <label> purchase cost </label> <input type="text" name="purchaseCost">
        <label> stock </label> <select name="in stock?">
          <option value="0">&nbsp;</option>
          <option value="1">Yes</option>
          <option value="2">No</option>
        </select>
        <label> manufacturer </label> <select name="manufacturer">
          <option value="0">&nbsp;</option>
          <option value="1">Gucci</option>
          <option value="2">Versace</option>
          <option value="3">Prada</option>
        </select>
      </fieldset>
      <input class="btn" type="submit" id="updateClothes" value="Update clothes">
    </form>
  </div>

  <p>&nbsp;</p>
  <div id="delete" style="display: block">
    <form method="POST" id="deleteClothes">
      <legend><strong>Delete clothes</strong></legend>
      <fieldset class="fields">
        <label> ID </label> <select name="ID">
          <option value="0">&nbsp;</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </fieldset>
      <input class="btn" type="submit" id="DeleteClothes" value="Delete Clothes">
    </form>
  </div>

</body>

</html>