<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Customers Page</title>
</head>

<body>
  <h1>Customers</h1>

  [ <a href="employees">Employees</a> | <a href="customers">Customers</a> | <a href="sales">Sales</a> |
  <a href="salehas_clothes">Sale Has Clothes</a> | <a href="clothes">Clothes</a> | <a href="manufacturers">Manufacturers</a> | <a href="/">Index</a> ]

  <div id="browse">
    <p> </p>
    <table border="1" cellpadding="5">
      <tr>
        <th>CustomerID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>email</th>
        <th>phone</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Ben</td>
        <td>Gulbranson</td>
        <td>beng@gmail.com</td>
        <td>(541)555-5739</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Parsa</td>
        <td>Fallah</td>
        <td>parsaf@gmail.com</td>
        <td>(541)555-2849</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Jade</td>
        <td>Carey</td>
        <td>jadec@gmail.com</td>
        <td>(541)555-5533</td>
      </tr>
    </table>
  </div>

  <p>&nbsp;</p>
  <div id="insert">
    <form method="POST" id="addCustomer">
      <legend><strong>Add customer</strong></legend>
      <fieldset class="fields">
        <label> first name </label> <input type="text" name="firstName">
        <label> last name </label> <input type="text" name="lastName">
        <label> email </label> <input type="text" name="email">
        <label> phone # </label> <input type="tel" name="phone">
      </fieldset>
      <input class="btn" type="submit" id="addEmployee" value="Add customer">
      <input class="btn" type="button" value="cancel">
    </form>
  </div>

  <p>&nbsp;</p>
  <div id="update">
    <form method="POST" id="UpdateCustomer">
      <legend><strong>Update customer</strong></legend>
      <fieldset class="fields">
        <label> ID to update </label> <select name="ID">
          <option value="0">&nbsp;</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
        <label> first name </label> <input type="text" name="firstName">
        <label> last name </label> <input type="text" name="lastName">
        <label> email </label> <input type="text" name="email">
        <label> phone # </label> <input type="tel" name="phone">
      </fieldset>
      <input class="btn" type="submit" id="updateCustomer" value="Save update customer">
      <input class="btn" type="button" value="cancel">
    </form>
  </div>

  <p>&nbsp;</p>
  <div id="delete" style="display: block">
    <form method="POST" id="deleteCustomers">
      <legend><strong>Delete customer</strong></legend>
      <fieldset class="fields">
        <label> ID </label> <select name="ID">
          <option value="0">&nbsp;</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </fieldset>
      <input class="btn" type="submit" id="DeleteCustomers" value="Delete Customer">
      <input class="btn" type="button" value="cancel">
    </form>
  </div>

</body>

</html>