<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Employees Page</title>
</head>

<body>
  <h1>Employees</h1>

  [ <a href="employees">Employees</a> | <a href="customers">Customers</a> | <a href="sales">Sales</a> |
  <a href="salehas_clothes">Sale Has Clothes</a> | <a href="clothes">Clothes</a> | <a
    href="manufacturers">Manufacturers</a> | <a href="/">Index</a> ]

  <div id="browse">
    <p> </p>
    <table border="1" cellpadding="5">
      <tr>
        <th>EmployeeID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Hire Date</th>
        <th>email</th>
        <th>phone</th>
      </tr>
      <tr>
        <th>1</th>
        <th>Alexander</th>
        <th>Addis</th>
        <th>12/23/2017</th>
        <th>aaddis@gmail.com</th>
        <th>(541)555-3850</th>
      </tr>
      <tr>
        <th>2</th>
        <th>Duncan</th>
        <th>Everson</th>
        <th>05/03/2016</th>
        <th>duncane@gmail.com</th>
        <th>(541)555-0931</th>
      </tr>
      <tr>
        <th>3</th>
        <th>Benny</th>
        <th>Beaver</th>
        <th>10/30/2019</th>
        <th>bbeav@gmail.com</th>
        <th>(541)555-9874</th>
      </tr>
    </table>
  </div>

  <p>&nbsp;</p>
  <div id="insert">
    <form method="POST" id="addEmployee">
      <legend><strong>Add employee</strong></legend>
      <fieldset class="fields">
        <label> first name </label> <input type="text" name="firstName">
        <label> last name </label> <input type="text" name="lastName">
        <label> hire date </label> <input type="date" name="hireDate">
        <label> email </label> <input type="text" name="email">
        <label> phone # </label> <input type="tel" name="phone">
      </fieldset>
      <input class="btn" type="submit" id="addEmployee" value="Add employee">
      <input class="btn" type="button" value="cancel">
    </form>
  </div>

  <p>&nbsp;</p>
  <div id="update">
    <form method="POST" id="updateEmployee">
      <legend><strong>Update employee</strong></legend>
      <fieldset class="fields">
        <label> ID to update </label> <select name="ID">
          <option value="0">&nbsp;</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
        <label> first name </label> <input type="text" name="firstName">
        <label> last name </label> <input type="text" name="lastName">
        <label> hire date </label> <input type="date" name="hireDate">
        <label> email </label> <input type="text" name="email">
        <label> phone # </label> <input type="tel" name="phone">
      </fieldset>
      <input class="btn" type="submit" id="updateEmployee" value="Save update employee">
      <input class="btn" type="button" value="cancel">
    </form>
  </div>

  <p>&nbsp;</p>
  <div id="delete" style="display: block">
    <form method="POST" id="deleteEmployee">
      <legend><strong>Delete employee</strong></legend>
      <fieldset class="fields">
        <label> ID </label> <select name="ID">
          <option value="0">&nbsp;</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </fieldset>
      <input class="btn" type="submit" id="DeleteEmployee" value="Delete Employee">
      <input class="btn" type="button" value="cancel">
    </form>
  </div>

</body>

</html>