<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Index Page</title>
</head>

<body>
  <h1>Everson & Addis Co.</h1>

  [ <a href="employees">Employees</a> | <a href="customers">Customers</a> | <a href="sales">Sales</a> |
  <a href="salehas_clothes">Sale Has Clothes</a> | <a href="clothes">Clothes</a> | <a href="manufacturers">Manufacturers</a> | <a href="/">Index</a> ]

  <p>This database is used for tracking sales for the Everson & Addis clothing company. Information on
    employees, customers, sales, clothes, and manufacturers can all be accessed here.
  </p>
</body>

</html>