<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Index Page</title>
</head>

<body>
  <h1>Index</h1>

  [ <a href="employees">Employees</a> | <a href="customers">Customers</a> | <a href="sales">Sales</a> |
  <a href="salehas_clothes">Sale Has Clothes</a> | <a href="clothes">Clothes</a> | <a
    href="manufacturers">Manufacturers</a> | <a href="/">Index</a> ]
</body>

<% for(i=0; i < 10; i++) { %>
  <%console.log(i)%>
    <%}%>

      <p>
        <%= true ? "hello from index" : "false" %>
      </p>

</html>