<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Manufacturers Page</title>
</head>

<body>
  <h1>Manufacturers</h1>

  [ <a href="employees">Employees</a> | <a href="customers">Customers</a> | <a href="sales">Sales</a> |
  <a href="salehas_clothes">Sale Has Clothes</a> | <a href="clothes">Clothes</a> | <a href="manufacturers">Manufacturers</a> | <a href="/">Index</a> ]

  <div id="browse">
    <p> </p>
    <table border="1" cellpadding="5">
      <tr>
        <th>ManufacturerID</th>
        <th>name</th>
        <th>email</th>
        <th>phone</th>
        <th>address</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Gucci</td>
        <td>gucci@gmail.com</td>
        <td>(541)555-1948</td>
        <td>91-487 Somewhere Pl.</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Versace</td>
        <td>versace@gmail.com</td>
        <td>(541)555-9876</td>
        <td>435 Road St.</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Prada</td>
        <td>prada@gmail.com</td>
        <td>(541)555-8762</td>
        <td>9002 Boulevard Ave.</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Nike</td>
        <td>nike@gmail.com</td>
        <td>(541)555-3827</td>
        <td>123 Place Rd.</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Uniqlo</td>
        <td>uniqlo@gmail.com</td>
        <td>(541)555-2911</td>
        <td>98-324 Sidewalk Ave.</td>
      </tr>
    </table>
  </div>

  <p>&nbsp;</p>
  <div id="insert">
    <form method="POST" id="addManufacturer">
      <legend><strong>Add manufacturer</strong></legend>
      <fieldset class="fields">
        <label> name </label> <input type="text" name="name">
        <label> email </label> <input type="text" name="email">
        <label> phone # </label> <input type="tel" name="phone">
        <label> address </label> <input type="text" name="address">
      </fieldset>
      <input class="btn" type="submit" id="addManufacturer" value="Add manufacturer">
      <input class="btn" type="button" value="cancel">
    </form>
  </div>

  <p>&nbsp;</p>
  <div id="update">
    <form method="POST" id="updateManufacturer">
      <legend><strong>Update manufacturer</strong></legend>
      <fieldset class="fields">
        <label> ID to update </label> <select name="ID">
          <option value="0">&nbsp;</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select> <label> name </label> <input type="text" name="name">
        <label> email </label> <input type="text" name="email">
        <label> phone # </label> <input type="tel" name="phone">
        <label> address </label> <input type="text" name="address">
      </fieldset>
      <input class="btn" type="submit" id="updateManufacturer" value="Update manufacturer">
      <input class="btn" type="button" value="cancel">
    </form>
  </div>

  <p>&nbsp;</p>
  <div id="delete" style="display: block">
    <form method="POST" id="deleteManufacturer">
      <legend><strong>Delete manufacturer</strong></legend>
      <fieldset class="fields">
        <label> ID </label> <select name="ID">
          <option value="0">&nbsp;</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </fieldset>
      <input class="btn" type="submit" id="DeleteManufacturer" value="Delete Manufacturer">
      <input class="btn" type="button" value="cancel">
    </form>
  </div>
</body>

</html>