<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Sales Page</title>
</head>

<body>
  <h1>Sales</h1>

  [ <a href="employees">Employees</a> | <a href="customers">Customers</a> | <a href="sales">Sales</a> |
  <a href="salehas_clothes">Sale Has Clothes</a> | <a href="clothes">Clothes</a> | <a href="manufacturers">Manufacturers</a> | <a href="/">Index</a> ]

  <div id="browse">
    <p> </p>
    <table border="1" cellpadding="5">
      <tr>
        <th>SaleID</th>
        <th>Discount Percent</th>
        <th>payment</th>
        <th>date</th>
        <th>Customer</th>
        <th>Employee</th>
      </tr>
      <tr>
        <td>1</td>
        <td>0.1</td>
        <td>9.89</td>
        <td>03/21/2018 14:30:00</td>
        <td>Ben Gulbranson</td>
        <td>Alexander Addis</td>
      </tr>
      <tr>
        <td>2</td>
        <td>0.25</td>
        <td>40.88</td>
        <td>07/05/2023 15:20:00</td>
        <td>Parsa Fallah</td>
        <td>Duncan Everson</td>
      </tr>
      <tr>
        <td>3</td>
        <td>0.05</td>
        <td>20.89</td>
        <td>09/29/2024 09:30:00</td>
        <td>Jade Carey</td>
        <td>Benny Beaver</td>
      </tr>
    </table>
  </div>

  <p>&nbsp;</p>
  <div id="insert">
    <form method="POST" id="addSale">
      <legend><strong>Add sale</strong></legend>
      <fieldset class="fields">
        <label> discount percent </label> <input type="text" name="discountPercent">
        <label> payment </label> <input type="text" name="payment">
        <label> date/time </label> <input type="datetime-local" name="date">
        <label> customer </label> <select name="Customers_idCustomer">
          <option value="0">&nbsp;</option>
          <option value="1">Ben Gulbranson</option>
          <option value="2">Parsa Fallah</option>
          <option value="3">Jade Carey</option>
        </select>
        <label> employee </label> <select name="Employees_idEmployees">
          <option value="0">&nbsp;</option>
          <option value="1">Alexander Addis</option>
          <option value="2">Duncan Everson</option>
          <option value="3">Benny Beaver</option>
          <option value="4">N/A</option>
        </select>
      </fieldset>
      <input class="btn" type="submit" id="addSale" value="Add sale">
      <input class="btn" type="button" value="cancel">
    </form>
  </div>

  <p>&nbsp;</p>
  <div id="update">
    <form method="POST" id="updateSale">
      <legend><strong>Add sale</strong></legend>
      <fieldset class="fields">
        <label> ID to update </label> <select name="ID">
          <option value="0">&nbsp;</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
        <label> discount percent </label> <input type="text" name="discountPercent">
        <label> payment </label> <input type="text" name="payment">
        <label> date/time </label> <input type="datetime-local" name="date">
        <label> customer </label> <select name="Customers_idCustomer">
          <option value="0">&nbsp;</option>
          <option value="1">Ben Gulbranson</option>
          <option value="2">Parsa Fallah</option>
          <option value="3">Jade Carey</option>
        </select>
        <label> employee </label> <select name="Employees_idEmployees">
          <option value="0">&nbsp;</option>
          <option value="1">Alexander Addis</option>
          <option value="2">Duncan Everson</option>
          <option value="3">Benny Beaver</option>
          <option value="4">N/A</option>
        </select>
      </fieldset>
      <input class="btn" type="submit" id="updateSale" value="Update sale">
      <input class="btn" type="button" value="cancel">
    </form>
  </div>

  <p>&nbsp;</p>
  <div id="delete" style="display: block">
    <form method="POST" id="deleteSale">
      <legend><strong>Delete sale</strong></legend>
      <fieldset class="fields">
        <label> ID </label> <select name="ID">
          <option value="0">&nbsp;</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </fieldset>
      <input class="btn" type="submit" id="DeleteSale" value="Delete Sale">
      <input class="btn" type="button" value="cancel">
    </form>
  </div>
</body>

</html>