<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>SaleHas_Clothes Page</title>
</head>

<body>
  <h1>Sale Has Clothes</h1>

  [ <a href="employees">Employees</a> | <a href="customers">Customers</a> | <a href="sales">Sales</a> |
  <a href="salehas_clothes">Sale Has Clothes</a> | <a href="clothes">Clothes</a> | <a href="manufacturers">Manufacturers</a> | <a href="/">Index</a> ]

  <div id="browse">
    <p> </p>
    <table border="1" cellpadding="5">
      <tr>
        <th>SaleHasClothesID</th>
        <th>Customer's First Name</th>
        <th>Customer's Last Name</th>
        <th>Datetime</th>
        <th>Clothes Name</th>
        <th>Manufacturer</th>
        <th>Quantity</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Ben</td>
        <td>Gulbranson</td>
        <td>03/21/2018 14:30:00</td>
        <td>Shirt</td>
        <td>Gucci</td>
        <td>1</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Ben</td>
        <td>Gulbranson</td>
        <td>03/21/2018 14:30:00</td>
        <td>Coat</td>
        <td>Versace</td>
        <td>1</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Parsa</td>
        <td>Fallah</td>
        <td>07/05/2023 15:20:00</td>
        <td>Coat</td>
        <td>Versace</td>
        <td>1</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Jade</td>
        <td>Carey</td>
        <td>09/29/2024 09:30:00</td>
        <td>Pants</td>
        <td>Prada</td>
        <td>1</td>
      </tr>
    </table>
  </div>

  <p>&nbsp;</p>
  <div id="insert">
    <form method="POST" id="addSaleHasClothes">
      <legend><strong>Add sale with clothes</strong></legend>
      <fieldset class="fields">
        <label> Customer Name </label> <select name="customerName">
          <option value="0">&nbsp;</option>
          <option value="1">Ben Gulbranson</option>
          <option value="2">Parsa Fallah</option>
          <option value="3">Jade Carey</option>
        </select>
        <label> Datetime </label> <input type="datetime-local" name="datetime">
        <label> Clothes Name </label> <input type="text" name="clothesName">
        <label> Manufacturer </label> <select name="manufacturer">
          <option value="0">&nbsp;</option>
          <option value="1">Gucci</option>
          <option value="2">Versace</option>
          <option value="3">Prada</option>
          <option value="4">Nike</option>
          <option value="5">Uniqlo</option>
        </select>
        <label> Quantity </label> <input type="text" name="quantity">
      </fieldset>
      <input class="btn" type="submit" id="addSaleHasClothes" value="Add sale with clothes">
      <input class="btn" type="button" value="cancel">
    </form>
  </div>

  <p>&nbsp;</p>
  <div id="update">
    <form method="POST" id="updateSaleHasClothes">
      <legend><strong>Update sale with clothes</strong></legend>
      <fieldset class="fields">
        <label> ID to update </label> <select name="ID">
          <option value="0">&nbsp;</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        <label> Customer Name </label> <select name="customerName">
          <option value="0">&nbsp;</option>
          <option value="1">Ben Gulbranson</option>
          <option value="2">Parsa Fallah</option>
          <option value="3">Jade Carey</option>
        </select>
        <label> Datetime </label> <input type="datetime-local" name="datetime">
        <label> Clothes Name </label> <input type="text" name="clothesName">
        <label> Manufacturer </label> <select name="manufacturer">
          <option value="0">&nbsp;</option>
          <option value="1">Gucci</option>
          <option value="2">Versace</option>
          <option value="3">Prada</option>
          <option value="4">Nike</option>
          <option value="5">Uniqlo</option>
        </select>
        <label> Quantity </label> <input type="text" name="quantity">
      </fieldset>
      <input class="btn" type="submit" id="updateSaleHasClothes" value="Update sale with clothes">
      <input class="btn" type="button" value="cancel">
    </form>
  </div>

  <p>&nbsp;</p>
  <div id="delete" style="display: block">
    <form method="POST" id="deleteSaleHasClothes">
      <legend><strong>Delete sale with clothes</strong></legend>
      <fieldset class="fields">
        <label> ID </label> <select name="ID">
          <option value="0">&nbsp;</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </fieldset>
      <input class="btn" type="submit" id="DeleteSaleHasClothes" value="Delete SaleHasClothes">
      <input class="btn" type="button" value="cancel">
    </form>
  </div>

</body>

</html>